.nav {

    background: brown;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.item a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.item a.activeLink {
    color: rebeccapurple;
}



