.list {
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.active {
    color: burlywood;
    text-decoration: none;
}

.photo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.chatContainer{
    display: flex;
}

.name{
    padding: 15px 10px;
}
