.dialogs {
   display: flex;
}

.dialogsItem .dialog  {
    padding: 10px;

}

a{
    text-decoration: none;
    color: aliceblue;
}

.messages {

}

.messages .message {
    padding: 10px;
}

.link {
    color: darkolivegreen;
}
